root = true

[*]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = warning
